<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
</head>
<body>
    <a class="skip-link" href="#main">Skip to content</a>
    <main id="main" tabindex="-1" class="container">
        {% include "partials/header.njk" %}
        {{ content | safe }}
        {% include "partials/back-nav.njk" %}
    </main>
</body>