---
layout: layouts/base.njk
title: Page Not Found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="intro single">
    <div>
        <h2>Page not found</h2>
        <p>The page you're looking for doesn't exist or has moved.</p>
        <ul class="link-list">
            <li><a href="/">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/classes/">Classes</a></li>
        </ul>
    </div>
</section>
